@model IPOApplication.Models.IPO_Information

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>IPO_Information</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InstrumentName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InstrumentName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Facevalue)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Facevalue)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Premium)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Premium)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IPORate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IPORate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MinimumAmount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MinimumAmount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IPOStartDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IPOStartDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IPOEndDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IPOEndDate)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="InstrumentId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
